:root {
  --main-bg: #000000;
  --highlight-bg: #0a0a0d;
  --highlight-error: #7a001b;
  --highlight-error-light: #c51e3a;
  --highlight-bg-transparent: rgba(10, 10, 13, 0.7);
  --main-font: #b8b8c4;
  --accent-font-dark: #c2185b;
  --accent-font-light: #ff4081;
  --img-filter: brightness(0) saturate(100%) invert(20%) sepia(57%) saturate(1735%)
    hue-rotate(314deg) brightness(96%) contrast(98%);
  --img-filter-error: invert(16%) sepia(60%) saturate(3717%) hue-rotate(349deg) brightness(86%)
    contrast(120%);
  --banner: url('/img/banner-tube-archivist-dark.png');
  --logo: url('/img/logo-tube-archivist-dark.png');
}
